
# Foldseek entire PDB database (download separately)
data/foldseek_database/entirepdb*
data/foldseek_database/pdb*

# macOS
.DS_Store

# python
**/__pycache__/

# Large sample dataset (download separately)
sample_data/5sd6/
